<h1 class="max-h-fit min-h-80">
	<div class="mt-12 flex w-full flex-col items-center justify-evenly gap-y-8 md:flex-row">
		<a
			href="/bogota-persons"
			class="z-10 flex items-center justify-center drop-shadow-lg transition-all duration-400 ease-out hover:-translate-y-1 hover:scale-105"
			><img src="/bogota.jpeg" alt="" class="w-[95%] max-w-[23rem] xl:w-[28rem]" /></a
		>
		<a
			href="/otherCity-persons"
			class="z-10 flex items-center justify-center drop-shadow-lg transition-all duration-400 ease-out hover:-translate-y-1 hover:scale-105"
			><img src="/otherCity.jpeg" alt="" class="w-[95%] max-w-[23rem] xl:w-[28rem]" /></a
		>
	</div>
</h1>
