<section class="h-96 bg-red-200">
	<div class="mt-6 flex w-full">
		<div class="mt-4 w-1/2">Welcome to Bogotá</div>
		<div class="mt-4 w-1/2">
			<div class="">
				<h1 class="text-4xl">Persona Natural Bogota IVA incluido y retenciones</h1>
				<p class="mt-4 mb-8 text-lg">Precio: $846.983</p>
				<a
					href="/"
					class="z-10 flex size-fit rounded-lg border-3 border-gray-700/70 bg-amber-500 px-3 py-1.5 text-2xl drop-shadow-lg transition-all duration-250 ease-out hover:-translate-y-1 hover:scale-105"
					>Hacer Pago</a
				>
			</div>
		</div>
	</div>
</section>
