---
import Layout from '@layouts/Layout.astro';
import Header from '@sections/global/Header.astro';
import BogotaPerson from '@sections/bogota-person/bogota-person.astro';
import Footer from '@sections/global/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<BogotaPerson />
	</main>
	<Footer />
</Layout>
