---
import Layout from '@layouts/Layout.astro';
import Header from '@sections/global/Header.astro';
import MainPage from '@sections/home/MainPage.astro';
import Footer from '@sections/global/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<MainPage />
	</main>
	<Footer transition:name="footer" />
</Layout>
