---
import Layout from '@layouts/Layout.astro';
import Header from '@sections/global/Header.astro';
import OtherCityPerson from '@sections/otherCity-person/otherCity-person.astro';
import Footer from '@sections/global/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<OtherCityPerson />
	</main>
	<Footer />
</Layout>
