---
interface Props {
	hrefOne: string;
	srcImgOne: string;
	hrefTwo: string;
	srcImgTwo: string;
}
const { hrefOne, srcImgOne, hrefTwo, srcImgTwo } = Astro.props;
---

<h1 class="max-h-fit min-h-80">
	<div
		class="mt-6 flex w-full flex-col items-center justify-evenly gap-y-5 md:mt-12 md:flex-row md:gap-y-8"
	>
		<a
			href={hrefOne}
			class="z-10 flex items-center justify-center drop-shadow-lg transition-all duration-400 ease-out hover:-translate-y-1 hover:scale-105"
			><img src={srcImgOne} alt="" class="w-[45vh] max-w-[23rem] md:w-[95%] xl:max-w-[28rem]" /></a
		>
		<a
			href={hrefTwo}
			class="z-10 flex items-center justify-center drop-shadow-lg transition-all duration-400 ease-out hover:-translate-y-1 hover:scale-105"
			><img src={srcImgTwo} alt="" class="w-[45vh] max-w-[23rem] md:w-[95%] xl:max-w-[28rem]" /></a
		>
	</div>
</h1>
