<header class="flex h-fit flex-col items-center justify-start bg-green-600/70" id="header">
	<div class="flex h-fit w-full flex-wrap bg-gray-700/70" id="imgHeader">
		<a href="/" class="flex h-auto w-full items-center justify-center md:w-1/2">
			<img
				src="/header/logoMainCJIWhite.svg"
				alt="Logo Centro Jurídico Internacional"
				class="xs:min-w-80 mx-4 -mt-2 h-auto max-h-22 min-h-fit w-[30vw] min-w-60 rounded-2xl px-3 py-2"
			/>
		</a>

		<h1
			class="xs:text-2xl flex w-full items-center justify-center px-3 py-1.5 text-center text-xl font-semibold text-gray-50 md:w-1/2 xl:text-3xl"
		>
			Abogado Consulta en linea | Pagos
		</h1>
	</div>
</header>
