<h1 class="max-h-fit min-h-80">
	<div class="mt-12 flex w-full items-center justify-evenly">
		<a
			href="/bogota-persons"
			class="z-10 drop-shadow-lg transition-all duration-400 ease-out hover:-translate-y-1 hover:scale-105"
			><img src="/company.jpeg" alt="" class="w-[23rem] xl:w-[28rem]" /></a
		>
		<a
			href="/otherCity-persons"
			class="z-10 drop-shadow-lg transition-all duration-400 ease-out hover:-translate-y-1 hover:scale-105"
			><img src="/naturalPerson.jpeg" alt="" class="w-[23rem] xl:w-[28rem]" /></a
		>
	</div>
</h1>
